/* Top section of the webpage */
.top-section {
  background-color: lightgrey;background-image: url('./images/laptop-5673901.jpg'); /* Set your image here */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating the background image */
  padding: 20px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the container to center content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin: 0;
}

/* Style for the black box */
.black-box {
  background-color: rgba(0,0,0,0.5); /* Black background color */
  color: #f1f1f1; /* White text color */
  padding: 80px; /* Space inside the box around the text */
  border-radius: 50px; /* Optional: rounded corners */
  text-align: center; /* Center text inside the box */
  font-size: 30px; /* Adjust text size */
  width: 500px; /* Set a fixed width for the box */
  height: 50px; /* Set a fixed height for the box */
  margin: 50px auto; /* Center the box horizontally */
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.navbar {
  background-color: #333;
  /* sets top, right, bottom, and left to 30 pixels each */
  padding: 30px 30px;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* evenly spaces out the texts in the navbar*/
  align-items: center;
  /* width: 100% */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li {
  margin: 0 4rem; /*Add space between the links */
}

.nav-links a:hover {
  color: #88276b; /* Change color on hover */
}

.logo {
  /* position: absolute;  Places the logo completely in the navbar */
  background-image: url('./images/engineering-avatar.png');
  background-size:  contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  position: absolute; /*positions the logo independentally from the normal flow of the flex container */
  left: 30px;
}

.projects-section {
  padding: 20px;
  text-align: center;
  background-color: rgba(90, 85, 90, 0.897);
}

.projects-heading {
  font-size: 4em;
  /* font-weight: bold; */
  margin-bottom: 30px;
  color: #ececec;
  font-style: initial;
  font-family: 'Bubblegum Sans', sans-serif;;
}

.projects-container {
  display: flex;
  flex-direction: column; /* Stacks the projects vertically */
  align-items: center; /* Center align items horizontally */
  gap: 30px; /* Space between project items */
}

.project {
  background-color: #7b89af57; /* Light background for each project box */
  border: 1px solid #920909; /* Light border around the project box */
  border-radius: 8px; /* Rounded corners */
  padding: 15px;
  width: 80%; /* Adjust width as needed */
  max-width: 1000px; /* Max width of project box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
}

.project-coding {
    background-color: #7b89af57; /* Light background for each project box */
    border: 1px solid #ddd; /* Light border around the project box */
    border-radius: 8px; /* Rounded corners */
    padding: 25px;
    width: 80%; /* Adjust width as needed */
    height: 100px;
    max-width: 1000px; /* Max width of project box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
    background-image: url('./images/493110.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-manufacturing {
    background-color: #7b89af57; /* Light background for each project box */
    border: 1px solid #ddd; /* Light border around the project box */
    border-radius: 8px; /* Rounded corners */
    padding: 25px;
    width: 80%; /* Adjust width as needed */
    height: 100px;
    max-width: 1000px; /* Max width of project box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
    background-image: url('./images/Manufacturing-design-15.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-electronics {
    background-color: #7b89af57; /* Light background for each project box */
    border: 1px solid #ddd; /* Light border around the project box */
    border-radius: 8px; /* Rounded corners */
    padding: 25px;
    width: 80%; /* Adjust width as needed */
    height: 100px;
    max-width: 1000px; /* Max width of project box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
    background-image: url('./images/496189.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-automation {
    background-color: #7b89af57; /* Light background for each project box */
    border: 1px solid #ddd; /* Light border around the project box */
    border-radius: 8px; /* Rounded corners */
    padding: 25px;
    width: 80%; /* Adjust width as needed */
    height: 100px;
    max-width: 1000px; /* Max width of project box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow effect */
    background-image: url('./images/Automation-Technologies.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.project:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #140505;
}

.project-title-coding {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: italic;
}

.project-title-manufacturing {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #13ee30;
  font-style: italic;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #00ff73; /* Primary color for button */
  text-decoration: none;
  border-radius: 10px; /* Rounded corners for the button */
  transition: background-color 0.3s ease, transform 0s ease; /* Smooth transition for button */
}

.project-button:hover {
  background-color:  #f700ffa4; /* Darker color on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.introduction-section {
  background-color: rgba(90, 85, 90, 0.897);
  min-height: 100vh;
  overflow: hidden; /* prevents any overflow issues */
}

.introduction-title {
  color: white;
  font-size: 16px;
}

.introduction-box {
  background-color: rgb(252, 241, 241);
  padding: 70px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 300px; */
  height: 20px;
  margin: 80px;
  font-size: 20px;
}

.introduction-box h1 {
  /* text-align: center; */
  justify-content: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* color: rgb(87, 10, 110); */
  background: linear-gradient(100deg, #3d0d91, #4d0957, #8b087e); /* Gradient from purplish-blue to a blueish-purple */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent to show the gradient */
}

.introduction-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.parallelogram-box {
  background-color: black;
  color: white;
  width: fit-content;
  height: fit-content;
  margin-left: 110px;
  margin-right: auto;
  transform: skew(-20deg) translate(-90px, 10px); /* Move 100px left, 20px down */
  padding: 50px;
  border-radius: 100px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 150px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.introduction-passage {
  transform: skew(20deg);
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
  font-style: italic; /* Apply italic style */
  color: white;
  font-size: 20px;
  line-height: 1.6;
}

.highlight {
  text-decoration: underline;
  color: rgb(32, 158, 95);
  font-weight: bold;
}




